<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DocusignGPS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>768B1F3F1DA03D50009D4447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768B1F531DA03D50009D4447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768B1F5E1DA03D50009D4447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
